<a href="https://colab.research.google.com/github/khanabdulah871-png/Python-practice/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
y = "Abdullah"
print(x)
print(y)

5
Abdullah

In [ ]:
#Casting
x = str(4)
y = int(3)
z = float(9)
print(x)
print(y)
print(z)

4
3
9.0

In [ ]:
x = 5
y = "Jhon"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x, y, z = "Abdullah", 5, 2.0
print(x)
print(y)
print(z)

Abdullah
5
2.0

In [ ]:
fruits = ["Apple", "Banana", "Kiwi", 34]
x, y, z, a = fruits
print(x)
print(y)
print(z)
print(a)

Apple
Banana
Kiwi
34

In [ ]:
a = "My"
b = "name"
c = "is"
d = "Abdullah Khan"
print(a+b+c+d)

MynameisAbdullah Khan

In [ ]:
#global variables
x = "awesome"
def myfunc():
  print("Python is", x)
myfunc()

Python is awesome

In [ ]:
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is", x)
myfunc()
print("python is", x)

Python is fantastic
python is awesome

In [ ]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"

myfunc()
print("python is", x)

python is fantastic

In [ ]:
list = ["Apple", "Banana", "Kiwi", "Mango"]
print(len(list))

4

In [ ]:
list2 = ["34", 87, 90.00, "Apple"]
print(type(list2))

<class 'list'>

In [ ]:
list3 = ["apple", 34, 45.0, "Abdullah"]
print(list3[1])
print(list3[0])
print(list3[3])
print(list3[-1])

34
apple
Abdullah
Abdullah

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
list3 = ["apple", 34, 45.0, "Abdullah"]
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
newlist = list3 + thislist
print(newlist)

['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(items[3:6])

['Abdullah', 'apple', 'banana']

In [ ]:
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(items[:7])

['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry']

In [ ]:
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(len(items))

11

In [ ]:
print(items[-1])
print(items[-4])
print(items[-3])

mango
orange
kiwi

In [ ]:
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
if "apple" in items:
  print("Yes! Apple is present in the list")

Yes! Apple is present in the list

In [ ]:
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
items[2:6] = ["Watermelon", "Orange"]
print(items)

['apple', 34, 'Watermelon', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
products = ['apple', 34, 'Watermelon', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
products.insert(3, "Abdullah_Khan")
print(products)

['apple', 34, 'Watermelon', 'Abdullah_Khan', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
 X = ['apple', 34, 'Watermelon', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
 X.append(90)
 print(X)

['apple', 34, 'Watermelon', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 90]

In [ ]:
X = ['apple', 34, 'Watermelon', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
X.extend(items)
print(X)

['apple', 34, 'Watermelon', 'Orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
items = ['apple', 34, 45.0, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
items.remove(45.0)
print(items)

['apple', 34, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
Y = ["Apple", "Banana", "Watermelon", "peech", 76]
Y.pop(4)
print(Y)

['Apple', 'Banana', 'Watermelon', 'peech']

In [ ]:

del Y[2]
print(Y)

['Apple', 'Banana', 'peech', 76]

Loops in Lists

In [ ]:
#for loop
list = [12, "Abdullah", "Car", 78.90]
for x in list:
  print(x)

12
Abdullah
Car
78.9

In [ ]:
list2 = [30, "Apple", "ABCD", 0.1298]
for i in range(len(list2)):
   print(list[i])

list[0]
list[1]
list[2]
list[3]

In [ ]:
list2 = [30, "Apple", "ABCD", 0.1298]
Y = ["iphone", "Banana", "Watermelon", "peech", 76]
L = list2 + Y
print(L)


i = 0
while i < len(L):
  print(L[i])
  i = i + 1

[30, 'Apple', 'ABCD', 0.1298, 'iphone', 'Banana', 'Watermelon', 'peech', 76]
30
Apple
ABCD
0.1298
iphone
Banana
Watermelon
peech
76

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
list2 = ["Apple", "ABCD"]
Y = ["iphone", "Banana", "Watermelon", "peech"]
L = list2 + Y
print("Before sorting:", L)

L.sort()
print("After sorting :", L)

Before sorting: ['Apple', 'ABCD', 'iphone', 'Banana', 'Watermelon', 'peech']
After sorting : ['ABCD', 'Apple', 'Banana', 'Watermelon', 'iphone', 'peech']

In [ ]:
A = ["Car", "iphone", "Laptop", "pen", "fan"]
print("Before sorting :", A)

A.sort(reverse=True)
print("After sorting :", A)

Before sorting : ['Car', 'iphone', 'Laptop', 'pen', 'fan']
After sorting : ['pen', 'iphone', 'fan', 'Laptop', 'Car']

In [ ]:
list2 = ["Apple", "ABCD"]
Y = ["iphone", "Banana", "Watermelon", "peech"]
L = list2 + Y
print("Before copy :", L)

mylist = L.copy()
print("After copy :", mylist)

Before copy : ['Apple', 'ABCD', 'iphone', 'Banana', 'Watermelon', 'peech']
After copy : ['Apple', 'ABCD', 'iphone', 'Banana', 'Watermelon', 'peech']

**Tuples**

In [1]:
Tuple = ("apple", "banana", "cherry")
print(Tuple[1])

banana

In [2]:
print(len(Tuple))

3

In [3]:
Tuple = tuple((1,2,3,4))
print(Tuple)

(1, 2, 3, 4)

In [10]:
Tuple = ("apple", "banana", "cherry")
print(Tuple[-1])


print(Tuple[:-2])

cherry
('apple',)

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[3:6])

('orange', 'kiwi', 'melon')

Update tuple

In [15]:
X = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
Y = list(X)

Y[3] = "Blackcurrent"
X = tuple(Y)
print(X)

('apple', 'banana', 'cherry', 'Blackcurrent', 'kiwi', 'melon', 'mango')

In [17]:
A = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
B = list(A)

B.append("Cucumber")
A = tuple(B)

print(B)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Cucumber']

In [23]:
num = (1, 2, 3, 4, "Abdullah")
Fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
num += Fruits
#num = num + Fruits

print(newtuple)

(1, 2, 3, 4, 'Abdullah', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [26]:
value = (2, 90, "Abdullah", "ABC")
Z = list(value)

Z.remove("ABC")
value = tuple(Z)

print(value)

del Z
print(Z)

(2, 90, 'Abdullah')

NameError: name 'Z' is not defined

In [28]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [30]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in fruits:
 print(i)

apple
banana
cherry
strawberry
raspberry